/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: #222831;
}

a {
  color: #90c8fc;
  text-decoration: none;
}

a:hover {
  color: #90c8fc;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 9999;
  background: #90c8fc;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #1a344d;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  height: 60px;
  background: #57657a;
  box-shadow: 0px 0px 20px 0px rgba(216, 216, 216, 0.151);
}

#header .logo h1 {
  font-size: 26px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 60px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #90c8fc;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(13, 21, 29, 0.6);
  transition: 0.3s;
  z-index: 998;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #2c4964;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #90c8fc;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 75vh;
  background-image: linear-gradient(to top,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../img/hero-bg.jpg") ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0 15px;
}

#hero h1,
strong {
  font-size: 26px;
  font-weight: 700;
  line-height: 56px;
  color: #90c8fc;
}

#hero h2,
p {
  color: #eee;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

#hero .social-links {
  padding-bottom: 20px;
}

#hero .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #90c8fc;
  color: #fff;
  line-height: 0;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #fff;
}

#hero .social-links a:hover {
  background: #fff;
  color: #90c8fc;
}

#hero .btn-get-started {
  font-size: 40px;
  transition: 0.5s;
  color: #90c8fc;
  height: 60px;
}

#hero .btn-get-started:hover {
  padding-top: 10px;
  color: #90c8fc;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 , strong{
    font-size: 26px;
    line-height: 20px;
  }

  #hero h2 ,p{
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}


.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 15px;
  position: relative;
  color: #345676;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #90c8fc;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about .section-title h2 {
  font-weight: 700;
  font-size: 26px;
  color: #fff;
}

.about .content h1 {
  color: #90c8fc;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
  font-size: 20px;
}

.about .content ul span {
  margin-right: 10px;
  font-size: 20px;
}

.about .content ul i {
  font-size: 16px;
  font-weight: bolder;
  margin-right: 5px;
  color: #0563bb;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills{
  background-color: #57657a;
}

.skills .section-title h2 {
  font-weight: 700;
  font-size: 26px;
  color: #fff;
}

.skills .progress {
  height: 50px;
  display: block;
  background: none;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #2c4964;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #fbeaf1;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #90c8fc;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #4b7dab;
  font-family: "Poppins", sans-serif;
}

.resume .section-title h2 {
  font-weight: 700;
  font-size: 26px;
  color: #fff;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #90c8fc;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  color: #2c4964;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #90c8fc1c;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(216, 216, 216, 0.151);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 400;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #90c8fc;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services{
  background-color: #57657a;
}

.services .section-title h2 {
  font-weight: 700;
  font-size: 26px;
  color: #fff;
}

.services .icon-box {
  padding: 20px 15px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 20px 0px rgba(216, 216, 216, 0.151);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  text-align: center;
  z-index: 1;
}

.services .icon-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  transition: ease-in-out 0.3s;
  z-index: -1;
}

.services .icon-box:hover::before {
  background: #5a5a5a8e;
  height: 100%;
  border-radius: 0px;
}

.services .icon {
  margin: 0 auto 30px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #90c8fc;
  transition: all 0.3s ease-in-out;
}

.services .icon-box:hover .icon {
  font-size: 36px;
  line-height: 1;
  color: #fff;
  margin: 0 auto 30px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #90c8fc;
  transition: all 0.3s ease-in-out;
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box p {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 0;
}

.services .icon-box:hover a,
.services .icon-box:hover p {
  color: #fff;
}

@media (max-width: 768px) {
  .services .icon-box::before {
    bottom: 60%;
  }
}